@use '@angular/material' as mat;

@include mat.core();

$aco-primary-palette: mat.define-palette($aco-primary, 500, 100, 900);
$aco-accent-palette: mat.define-palette($aco-accent, 500, 100, 900);
$aco-warn-palette: mat.define-palette($aco-warn, 500, 100, 900);

$aco-theme: mat.define-light-theme(
    (
        color: (
          primary: $aco-primary-palette,
          accent: $aco-accent-palette,
          warn: $aco-warn-palette
        ),
    )
);

@include mat.all-component-themes($aco-theme);